
/* Top Promotion */
.top-promotion-img1{
    background-image: url("../../image/banner/banner-01.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.top-promotion-img2{
  background-image: url("../../image/banner/banner-02.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.cart-btn1{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.cart-btn2{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .top-promotion-img2:hover{
    -webkit-filter: brightness(70%);
    transition: .3s;
  }
  .top-promotion-img1:hover{
    -webkit-filter: brightness(70%);
    transition: .3s;
  }


  /* HomeBlog */
  .home-blog-img1{
    background-image: url("../../image/banner/homeblog-02.jpg");
    height: 234px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .home-blog-img2{
    background-image: url("../../image/banner/homeblog-08.jpg");
    height: 234px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .home-blog-btn1{
    text-align: center;
    position: absolute;
    top: 75%;
    left: 17%;
    transform: translate(-50%, -50%);
  
  }
  .home-blog-btn2{
      text-align: center;
      position: absolute;
      top: 75%;
      left: 17%;
      transform: translate(-50%, -50%);
    }
    .home-blog-img1:hover{
      -webkit-filter: brightness(70%);
      transition: .3s;
    }
    .home-blog-img2:hover{
      -webkit-filter: brightness(70%);
      transition: .3s;
    }
    .home-blog-text{
      position: relative;
      top: 60%;
      left: 5%;
    }
    .home-blog-btn2 , .home-blog-btn1:hover{
      color: yellow
    }
    /* WhyChoose */
    .riding-img{
      background-image: url("../../image/banner/bg-video.png");
      height: 674.5px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: relative;
      text-align: center;
      color: white;
    }
    .video-text{
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }