
img, media {
  max-width: 100%;
}
/* Loading */
.loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* NavBar */
  .nav-dark{
    background-color: #000000d4;
  }
 /* Top Promotion image */
.top-promotion-img{

}
.pro-btn{
  
}
/* Footer */
.footer-area{
  /* background-image: url(../../../images/footer-bg.png); */
  background-size: cover;
}

.footer-area li{
  padding-bottom: 10px;
}

.social-media .active-icon {
  background-color: #ffd100;
  color: #141515;
}
.social-media .icon {
  height: 40px;
  width: 40px;
  color: #141515;
  border-radius: 50%;
  border: 1px solid #ffd100;
  padding: 10px;
}